* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 32px;
}

h1, h2 {
    text-align: center;
    font-family: Arial,sans-serif;
    color: #7d2eec;
}

input,
button {
    display: block;
    padding: 8px;
    margin-top: 8px;
    width: 100%;
    border-radius: 50px;
    outline-color: #8654cd;
}

input {
    font-family: Arial,sans-serif;
    font-size: 16px;
}

button {
    background-color: #8654cd;
    color: #fff;
    border: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #7d2eec;
}